<ion-header class="more-bid-history-header">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-back-button defaultHref='' color="light" icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">All Bid History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bid-history-content">
  <ion-list>
    <ion-item lines="none" *ngFor="let item of bidDetails; let i = index">
      <ion-avatar slot="start">
        <img src="assets/images/avatar.png">
      </ion-avatar>
      <ion-label>
        <h2> {{ item.customer_name }}</h2>
        <p>{{item.createdAt | date:'d LLL y H:mm'}}</p>
      </ion-label>
      <ion-chip color="primary" slot="end">
        <ion-label class="price">
          {{ adminInfo.currency.symbol}} {{ item.price}}
        </ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>