@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

ion-header.more-bid-history-header {
  ion-toolbar {
    --background: #084b44;
  }
}

ion-content.bid-history-content {
  --background: #ffffff;
  ion-list {
    ion-item {
      ion-label {
        margin: 10px 0px 0px 0px;
        &.price {
          font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
            Roboto, Helvetica Neue, Arial, sans-serif !important;
        }
        h2 {
          margin: 0px;
          @include media(380px) {
            & {
              font-size: 14px;
            }
          }
        }
        p {
          margin: 0px;
          color: var(--ion-color-medium);
          @include media(380px) {
            & {
              font-size: 12px;
            }
          }
        }
      }
      ion-chip {
        ion-label {
          margin: 0px;
        }
      }
    }
  }
}
