@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

ion-card {
  border-radius: 10px;
  box-shadow: none;
  ion-item {
    &.input-field {
      --padding-start: 0px;
      ion-note {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
  ion-text {
    p {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 17px;
    }
  }
  &.transparent {
    --background: transparent;
  }
}

::ng-deep .form-field {
  width: 100%;
  .mat-input-element {
    font-size: 18px;
    color: #152a4cc7;
    letter-spacing: 1px;
    @include media(380px) {
      & {
        font-size: 17px;
      }
    }
  }
  mat-label {
    font-size: 18px;
    @include media(380px) {
      & {
        font-size: 14px;
      }
    }
  }
  mat-error {
    font-size: 15px;
    @include media(380px) {
      & {
        font-size: 12px;
      }
    }
  }
  .mat-form-field-underline {
    height: 1px;
    color: var(--ion-color-medium);
  }
  button.mat-icon-button {
    font-size: 27px !important;
    color: var(--ion-color-medium);
    @include media(380px) {
      & {
        font-size: 24px !important;
      }
    }
  }
}
