<ion-header>
  <ion-toolbar class="dark-header">
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-back-button defaultHref='' color="light" icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onPasswordSubmit()">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="m-b-10">
            <!-- Email ID -->
            <ion-item class="input-field" lines="none">
              <ion-label position="floating" color="medium">Email ID</ion-label>
              <ion-input [value]="customerInfo.email" readonly></ion-input>
            </ion-item>
            <!-- Mobile Number -->
            <ion-item class="input-field" lines="none" *ngIf="customerInfo.ph_number">
              <ion-label position="floating" color="medium">Mobile Number</ion-label>
              <ion-input [value]="customerInfo.ph_number" readonly></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <!-- New Password -->
            <mat-form-field class="form-field m-b-5">
              <mat-label>New Password</mat-label>
              <input matInput placeholder="New Password" formControlName="password"
                [type]="hide.password ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide.password = !hide.password"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide.password" type="button">
                <mat-icon>{{hide.password ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="changePasswordForm.controls['password'].invalid">
                {{ validateInput("password") }}</mat-error>
            </mat-form-field>

            <!-- Retype Password -->
            <mat-form-field class="form-field m-b-5">
              <mat-label>Retype Password</mat-label>
              <input matInput placeholder="Retype Password" formControlName="confirm_password"
                [type]="hide.confirm_password ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide.confirm_password = !hide.confirm_password"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide.confirm_password" type="button">
                <mat-icon>{{hide.confirm_password ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="changePasswordForm.controls['confirm_password'].invalid">
                {{ validateInput("confirm_password") }}</mat-error>
            </mat-form-field>

            <ion-text color="dark">
              <p>Enter OTP sent to {{customerInfo.email}}</p>
            </ion-text>
            <!-- OTP -->
            <mat-form-field class="form-field m-b-5">
              <mat-label>OTP</mat-label>
              <input matInput placeholder="OTP" formControlName="otp" type="number" />
              <button mat-button matSuffix type="button" color="primary" disableRipple="true" class="font-weight-700"
                (click)="sentOTP(customerInfo)">
                Resend
              </button>
              <mat-error *ngIf="changePasswordForm.controls['otp'].invalid">
                {{ validateInput("otp") }}
              </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="transparent">
      <ion-grid class="p-0">
        <ion-row>
          <ion-col size="6" class="p-0">
            <ion-button expand="block" color="warning" (click)="closeModal()">Back</ion-button>
          </ion-col>
          <ion-col size="6" class="p-0">
            <ion-button expand="block" type="submit" [disabled]="loading">
              <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
              <ng-container *ngIf="!loading">Save</ng-container>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>