<ion-header>
  <ion-toolbar class="dark-header">
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-back-button defaultHref='' color="light" icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Timeline -->
  <ion-card class="timeline">
    <ion-card-content>
      <mat-horizontal-stepper labelPosition="bottom" #stepper [disableRipple]="true" [linear]="true">
        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>
        <mat-step [completed]="true">
          <ng-template matStepLabel>
            Address
          </ng-template>
        </mat-step>
        <mat-step [completed]="true">
          <ng-template matStepLabel>Order Summary</ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Payment</ng-template>
        </mat-step>
      </mat-horizontal-stepper>
    </ion-card-content>
  </ion-card>

  <!-- Payment Option -->
  <ion-card class="option">
    <ion-card-header>
      <ion-card-subtitle>ALL PAYMENT OPTION</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-radio-group value="biff">
        <ion-item lines="full">
          <ion-radio slot="start" value="biff"></ion-radio>
          <ion-label>UPI</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio slot="start" value="biff1"></ion-radio>
          <ion-label>Cash on delivery</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>

  <!-- Price -->
  <ion-card class="price">
    <ion-card-header>
      <ion-card-subtitle>PRICE DETAILS</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!-- Price -->
          <ion-col size="8">
            <ion-text color="dark">
              <h3 class="m-b-0">Price</h3>
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text color="dark">
              <h3 class="m-b-0 float-right">Rs 60</h3>
            </ion-text>
          </ion-col>
          <!-- Delivery -->
          <ion-col size="8">
            <ion-text color="dark">
              <h3 class="m-b-0">Delivery</h3>
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text color="primary">
              <h3 class="m-b-0 float-right">FREE</h3>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <!-- Total Amount -->
    <ion-item lines="none">
      <ion-grid>
        <ion-col size="8">
          <h3 class="m-b-0 font-weight-600 d-inline">Amount Payable</h3>
        </ion-col>
        <ion-col size="4">
          <h3 class="m-b-0 font-weight-600 d-inline float-right">RS 60</h3>
        </ion-col>
      </ion-grid>
    </ion-item>
  </ion-card>

  <!-- Text -->
  <ion-list class="message">
    <ion-item lines="none">
      <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap font-weight-600" color="medium">
        Safe and Secure Payments.Easy returns. 100% Authentic products
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label>
        <ion-text>
          <h2 class="font-weight-600 default-font m-0">RS 130</h2>
        </ion-text>
        <ion-text color="primary">
          <p class="m-0">View price details</p>
        </ion-text>
      </ion-label>
      <ion-button slot="end" color="warning" (click)="viewOrderPlacedModal()">
        Continue
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>