<ion-header>
  <ion-toolbar class="dark-header">
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-back-button defaultHref='' color="light" icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Bid Statement</ion-title>
    <ion-button shape="round" slot="end" color="warning" class="m-r-10 purchase-btn">
      <ion-icon slot="start" name="add"></ion-icon>
      Purchase
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="list">
    <ion-list>
      <!-- Bid purchase -->
      <ion-item>
        <ion-icon name="arrow-up-outline" slot="start" color="success"></ion-icon>
        <!-- <ion-icon name="arrow-down-outline" slot="start" color="danger"></ion-icon> -->
        <ion-label>
          <ion-grid class="p-0">
            <ion-row>
              <ion-col size="8">
                <ion-text color="medium">
                  <p>Bid Balance Purchase</p>
                  <p>Package 2000</p>
                  <p>15 Feb 2020 10:25 AM</p>
                </ion-text>
              </ion-col>

              <ion-col size="4" class="v-center">
                <ion-text color="dark">
                  <p>+ 10</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <!-- Bid Deduct -->
      <ion-item>
        <ion-icon name="arrow-down-outline" slot="start" color="danger"></ion-icon>
        <ion-label>
          <ion-grid class="p-0">
            <ion-row>
              <ion-col size="8">
                <ion-text color="medium">
                  <p>Deduct For Bid Place</p>
                  <p>Auction id A012653</p>
                  <p>15 Feb 2020 10:25 AM</p>
                </ion-text>
              </ion-col>

              <ion-col size="4" class="v-center">
                <ion-text color="dark">
                  <p>- 10</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <!-- Bid purchase -->
      <ion-item>
        <ion-icon name="arrow-up-outline" slot="start" color="success"></ion-icon>
        <!-- <ion-icon name="arrow-down-outline" slot="start" color="danger"></ion-icon> -->
        <ion-label>
          <ion-grid class="p-0">
            <ion-row>
              <ion-col size="8">
                <ion-text color="medium">
                  <p>Bid Balance Purchase</p>
                  <p>Package 2000</p>
                  <p>15 Feb 2020 10:25 AM</p>
                </ion-text>
              </ion-col>

              <ion-col size="4" class="v-center">
                <ion-text color="dark">
                  <p>+ 10</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <!-- Bid Deduct -->
      <ion-item>
        <ion-icon name="arrow-down-outline" slot="start" color="danger"></ion-icon>
        <ion-label>
          <ion-grid class="p-0">
            <ion-row>
              <ion-col size="8">
                <ion-text color="medium">
                  <p>Deduct For Bid Place</p>
                  <p>Auction id A012653</p>
                  <p>15 Feb 2020 10:25 AM</p>
                </ion-text>
              </ion-col>

              <ion-col size="4" class="v-center">
                <ion-text color="dark">
                  <p>- 10</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <!-- Bid Deduct -->
      <ion-item>
        <ion-icon name="arrow-down-outline" slot="start" color="danger"></ion-icon>
        <ion-label>
          <ion-grid class="p-0">
            <ion-row>
              <ion-col size="8">
                <ion-text color="medium">
                  <p>Deduct For Bid Place</p>
                  <p>Auction id A012653</p>
                  <p>15 Feb 2020 10:25 AM</p>
                </ion-text>
              </ion-col>

              <ion-col size="4" class="v-center">
                <ion-text color="dark">
                  <p>- 10</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <!-- Bid purchase -->
      <ion-item>
        <ion-icon name="arrow-up-outline" slot="start" color="success"></ion-icon>
        <!-- <ion-icon name="arrow-down-outline" slot="start" color="danger"></ion-icon> -->
        <ion-label>
          <ion-grid class="p-0">
            <ion-row>
              <ion-col size="8">
                <ion-text color="medium">
                  <p>Bid Balance Purchase</p>
                  <p>Package 2000</p>
                  <p>15 Feb 2020 10:25 AM</p>
                </ion-text>
              </ion-col>

              <ion-col size="4" class="v-center">
                <ion-text color="dark">
                  <p>+ 10</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>