@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

ion-row.content-body {
  padding-left: 20px;
  padding-right: 20px;
  ion-text {
    &.title h2 {
      font-family: var(--ion-font-family);
      font-weight: 700;
      font-size: 35px;
      color: var(--ion-color-medium);
      text-align: center;
      display: inline-block;
      @include media(380px) {
        & {
          font-size: 31px;
        }
      }
    }
    &.login-text h2 {
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #b0bcca;
      line-height: 0.1em;
      margin: 10px 0 20px;
      span {
        background: var(--ion-color-light);
        padding: 0 10px;
      }
    }
    &.footer-tittle p {
      font-size: 20px;
      text-align: center;
      span {
        font-weight: 500;
        font-size: 21px;
        color: #152a4cc7;
        @include media(380px) {
          & {
            font-size: 17px;
          }
        }
      }
      @include media(380px) {
        & {
          font-size: 16px;
        }
      }
    }
    &.successfully-text h1 {
      font-family: var(--ion-font-family);
      font-weight: 700;
      font-size: 35px;
      text-align: center;
      line-height: 1.2;
    }
  }

  ::ng-deep .form-field {
    width: 100%;
    .mat-input-element {
      font-weight: 700;
      font-size: 21px;
      color: #152a4cc7;
      letter-spacing: 1px;
      @include media(380px) {
        & {
          font-size: 17px;
        }
      }
    }
    mat-label {
      font-size: 20px;
      @include media(380px) {
        & {
          font-size: 16px;
        }
      }
    }
    .mat-form-field-underline {
      height: 1px;
      color: var(--ion-color-medium);
    }
    button.mat-icon-button {
      font-size: 27px;
      color: var(--ion-color-medium);
      @include media(380px) {
        & {
          font-size: 24px;
        }
      }
    }
  }

  ion-button {
    margin-left: 0px;
    margin-right: 0px;
    --border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    @include media(380px) {
      & {
        font-size: 16px;
      }
    }
  }

  ::ng-deep ng-otp-input {
    input {
      color: var(--ion-color-primary);
      font-weight: 700;
      font-size: 30px;
      border: 2px solid #d7d8da;
      &:focus {
        background: #ffff;
        border: none !important;
        box-shadow: 0px 2px 13px 2px #d4cece !important;
      }
      &.ng-dirty {
        background: var(--ion-color-light);
        border: none !important;
      }
    }
  }
}

// --------- Success Animation -------
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid var(--ion-color-primary);

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      background: var(--ion-color-light);
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: var(--ion-color-primary);
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(var(--ion-color-primary-rgb), 0.5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: var(--ion-color-light);
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
