<ion-title class="header-bar">
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="cart">
        <ion-img src="assets/images/bidzone-icon.png"></ion-img>
        <ion-badge color="warning">33</ion-badge>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/images/bidzone-text-logo.png" class="brand-name"></ion-img>
      </ion-col>
      <!-- <ion-col size="6" *ngIf="headerData.is_bid === false">
        <div class="bid-score">
          <ion-badge color="primary">Bid Point</ion-badge>


          <ion-badge color="warning" class="loader-badge" *ngIf="loading">
            <ion-spinner name="dots"></ion-spinner>
          </ion-badge>

          <ion-badge color="warning" *ngIf="customerInfo">{{customerInfo.bid_balance}}</ion-badge>
        </div>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-title>