<ion-content>
  <ion-slides pager="true" [options]="slideOpts" class="height-100 intro-slider" #introSlider>
    <ion-slide *ngFor="let item of sliderContent; index as i">
      <ion-grid>
        <ion-row class="ion-align-items-center">

          <ion-col size="12">
            <ion-text color="warning" class="into-title">
              <h1>{{ item.tile }}</h1>
            </ion-text>
          </ion-col>

          <ion-col size="12" class="m-b-35">
            <ion-text color="primary" class="into-description">
              <P>{{ item.description }}</P>
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <ion-img [src]="item.image"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-text color="warning" class="skip-btn" (click)="swipeNext()" *ngIf="sliderContent.length !== (i + 1)">
        <P>Next</P>
      </ion-text>

      <ion-text color="warning" class="skip-btn" (click)="goHome()" *ngIf="sliderContent.length == (i + 1)">
        <P>Let's go</P>
      </ion-text>
    </ion-slide>
  </ion-slides>
</ion-content>