@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

ion-content.my-orders-product {
  ion-card {
    &.product {
      border-radius: 10px;
      box-shadow: none;
      margin: 15px 10px 10px 10px;
      ion-card-content {
        @include media(380px) {
          & {
            padding-top: 4px;
            padding-bottom: 4px;
          }
        }
        ion-grid {
          padding: 0px;
          ion-col {
            padding-right: 5px;
            div {
              height: 95px;
              ion-img {
                height: inherit;
                margin: auto !important;
                display: block;
              }
            }
            ion-text {
              h4 {
                font-weight: 700;
                font-size: 17px;
                margin: 0px;
                @include media(380px) {
                  & {
                    font-size: 14px;
                  }
                }
              }
              &.price {
                h3 {
                  font-weight: 700;
                  font-size: 20px;
                  margin: 0px;
                  margin-right: 10px;
                  display: inline;
                  @include media(380px) {
                    & {
                      font-size: 16px;
                    }
                  }
                }
                h4 {
                  display: inline;
                  color: var(--ion-color-medium);
                  margin-right: 10px;
                  text-decoration: line-through;
                }
                h5 {
                  display: inline;
                  color: var(--ion-color-medium);
                  margin-right: 10px;
                }
                ion-badge {
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
      ion-item.tracking {
        --background: aliceblue;
        ion-icon {
          margin-inline-end: 9px;
        }
      }
    }
  }
}
