@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

ion-content {
  &.address-content {
    ion-card {
      border-radius: 10px;
      box-shadow: none;
      ion-list {
        ion-radio-group {
          ion-list-header {
            padding-inline-start: 12px;
          }
          ion-radio {
            margin-inline-end: 15px;
          }
        }
      }

      ion-item {
        &.input-field {
          --padding-start: 0px;
        }
      }
      &.transparent {
        --background: transparent;
        ion-button {
          --box-shadow: 0px;
        }
      }
    }
  }
}

::ng-deep .form-field {
  width: 100%;
  .mat-input-element {
    font-size: 18px;
    color: #152a4cc7;
    letter-spacing: 1px;
    @include media(380px) {
      & {
        font-size: 17px;
      }
    }
  }
  mat-label {
    font-size: 18px;
    @include media(380px) {
      & {
        font-size: 14px;
      }
    }
  }
  mat-error {
    font-size: 15px;
    @include media(380px) {
      & {
        font-size: 12px;
      }
    }
  }
  .mat-form-field-underline {
    height: 1px;
    color: var(--ion-color-medium);
  }
  button.mat-icon-button {
    font-size: 27px;
    color: var(--ion-color-medium);
    @include media(380px) {
      & {
        font-size: 24px;
      }
    }
  }
}
